<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>Upload new File</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="description" content="Optimizacija Spletnih Strani - Slovenski Webmaster Blog" /><meta name="keywords" content="optimizacija spletnih strani, izdelava spletnih strani, mark" />
    <link rel="stylesheet" type="text/css" href="dark.css" media="screen" />
    </head>
    <body>

    <div id="wrap">

    <div id="header">
    <h1><a href="http://www.">DeepLearning</a></h1>
    <h2>caption generator</h2>
    </div>

    <div id="topmenu">
    <a href="home.html">Home</a> |
    </div>

    <div id="right">
      <h1>Upload new File</h1>
      <form method=post enctype=multipart/form-data>
        <p><input type=file name=image>
           <input type=submit value=Upload>
      </form>
    </div>
    </div>
    </body>
    </html>
