<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Simple SEO-friendly template</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="description" content="Optimizacija Spletnih Strani - Slovenski Webmaster Blog" /><meta name="keywords" content="optimizacija spletnih strani, izdelava spletnih strani, mark" />
<link rel="stylesheet" type="text/css" href="dark.css" media="screen" />
</head>
<body style="background: #172730">

<div id="wrap" style="background: #172730">

<div id="header">
<h1 style = "font-size: 2em; color: #d68766"><a >DeepLearning</a></h1>
<h2>caption generator</h2>
</div>

<div id="right" style="background: #172730">
<h2></h2>
<img src="{{ url_for('get_image', filename=filename) }}">
</div>

<div id="left" style="background: #d68766; color: #111; margin-top:40px; text-align: center; font-size: 1em">
<p>
  <br><br>
  <h1>Upload new File</h1>
  <br><br>
  <form method=post enctype=multipart/form-data>
    <p><input type=file name=image>
       <input type=submit value=Upload>
  </form>
</p><br><br>
<table style="width:100%; border-spacing:1em;">
   <tr>
     <th>Description</th>
     <th>Probability</th>
   </tr>
   <tr>
     <td>{{var1}}</td>
     <td>{{var2}}</td>
   </tr>
   <tr>
     <td>{{var3}}</td>
     <td>{{var4}}</td>
   </tr>
   <tr>
     <td>{{var5}}</td>
     <td>{{var6}}</td>
   </tr>
 </table>
 </div>

</div>
</body>
</html>
